.statistics {
  list-style: none;
  padding: 0;
  margin: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 400px;
  max-width: 90%;
}

.statItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.statItem:last-child {
  border-bottom: none;
}
